/* Footer alapbeállítások */
.footer {
    background-color: #1F2937; /* Sötét háttér */
    color: #E5E7EB; /* Világos szöveg */
    text-align: center;
    padding: 2rem 0;
    position: fixed;
    bottom: -100px;
    left: 0;
    width: 100%;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s ease, bottom 0.5s ease;
}

/* Footer megjelenése ha az oldal aljára érünk */
.footer.show {
    opacity: 1;
    bottom: 0;
}

/* Footer tartalom */
.footer-content {
    width: 100%;
    max-width: 1000px;
    text-align: center;
}

/* Cím */
.footer-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 1rem;
}

/* Menü linkek */
.footer-menu {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 1rem;
    font-size: 24px;
}

.footer-menu a {
    color: #8a8a8a; /* Sárgás hover szín */
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
}

.footer-menu a:hover {
    color: #2575fc; /* Zöld */
    text-decoration: underline;
}

/* Social linkek */
.footer-social {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.footer-social a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
}

.footer-social a:hover {
    color: #2575fc; /* Hover sárga */
    text-decoration: underline;
}

/* Mobil nézethez igazítás */
@media only screen and (max-width: 768px) {
    .footer-menu {
        flex-direction: column;
    }

    .footer-social {
        flex-direction: column;
    }
}
