.footer {
    background: rgba(39, 37, 31, 1);
    color: #E5E7EB;
    padding: 0 1rem 1rem 1rem;
    width: 100%;
    font-size: 16px;
    display: flex;  
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.footer.show {
    opacity: 1;
}

.footerImg {          
    width: 103%;
    height: 130px;
    display: block;
    margin-left: -1rem;
}

.footer-content {
    width: 100%;
    height: auto;
    max-width: 1200px;
    text-align: center;
}

/* Cím */
.footer-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.footer-columns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    text-align: left;
}

.footer-column {
    flex: 1;
    margin-bottom: 1.5rem;
}

.footer-column h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.footer-column a {
    color: #a3a3a3;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
}

.footer-column a:hover {
    color: #ffffff;
    text-decoration: underline;
}

.footer-column ul {
    list-style-type: none;
    padding: 0;
}

.footer-column ul li {
    margin: 10px 0;
}

@media only screen and (max-width: 768px) {
    .footer-columns {
        flex-direction: column;
        align-items: center;
    }

    .footer-column {
        min-width: auto;
        text-align: center;
    }
    .footerImg{
        width: 108% ;
        height: 80px;
    }
}
@media only screen and (max-width: 430px) {
    .footer-columns {
        flex-direction: column;
        align-items: center;
    }

    .footer-column {
        min-width: auto;
        text-align: center;
    }
    .footerImg{
        width: 110% ;
        height: 60px;
    }
}
