.scoreboard-table {
    background: linear-gradient(135deg, #2e2a40, #222);
    border-radius: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    width: 80%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 8.2rem;
}

.scoreboard-table th,
.scoreboard-table td {
    padding: 1rem;
    text-align: center;
}

.scoreboard-table th {
    background: #ffcc70;
    color: #1a1a1a;
    font-weight: bold;
    text-transform: uppercase;
}

.scoreboard-table td {
    color: #cbd5e0;
}

.scoreboard-table tr:hover {
    background-color: #535353;
    transition: background-color 0.3s ease, border 0.3s ease;
}

.scoreboard-table td:first-child {
    font-weight: bold;
}
.scoreboard-header h1 {
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
    background: linear-gradient(45deg, #ffcc70, #ff6f00); /* Gradient like game page */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 20px rgba(255, 204, 112, 0.3); /* Similar glowing effect */
    text-align: center;
}
.filter-buttons {
    display: flex;
    gap: 1rem;
    justify-content: center;
  }
  
  .filter-btn {
    background-color: #ffcc70;
    color: #1a1a1a;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .filter-btn:hover {
    background-color: #ffa500;
    transform: translateY(-3px);
    box-shadow: 0 10px 30px rgba(255, 165, 0, 0.5);
  }
  


@media screen and (max-width: 768px) {
    .scoreboard-table {
        width: 100%;
    }

    .scoreboard-header h1 {
        font-size: 2rem; 
    }
}
